@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@section Scripts {
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        async function start() {
            try {
                await connection.start();
                console.log("SignalR connected.");
            }
            catch (err) {
                console.error(er);
                //setTimeout(start, 5000);
                //eğer bir problem çıkarsa 5 saniye içinde tekrar denesin diye
            }
        }
        @* connection.onclose(async () => {
        await start();
        }) *@
            start();
    </script>

}